.carousel {
    cursor: grab;
    overflow: hidden;
    width: 100%;
    border: solid 1px #eaeaea;
    border-radius: 10px;
}

.innerCarousel {
    display: flex;  
    height: 200px;
    width: 1000px;
    position: relative;
}

.item {
    width: 15px;
    height: 100px;
    margin: 10px;
    border-radius: 0.75rem;
    overflow: hidden;
}

.item img {
    cursor: pointer;
    transition: all 300ms ease;
}

.item:hover img {
    border-radius: .75rem;
    transform: scale(1.25)
}