.carousel {
    cursor: grab;
    overflow: hidden;
    background-color: pink;
    width: 100%;
}

.innerCarousel {
    display: flex;
    background-color: yellow;
    height: 384px;
    width: 1000px;
    position: relative;
}

.innerCarousel::after {
    content: '';
    position: absolute;
    width: 250px;
    height: 50px;
    bottom: ;
    background-color: black;
}

.item {
    width: 240px;
    height: auto;
    padding: 20px;
}

.item img {
    border-radius: .75rem;
    pointer-events: none;
}