.carousel {
    cursor: grab;
    overflow: hidden;
}

.innerCarousel {
    display: flex;
}

.item {
    min-height: 10rem;
    min-width: 17rem;
    padding: 20px;
}

.item img {
    border-radius: .75rem;
    pointer-events: none;
}