.carousel {
    cursor: grab;
    overflow: hidden;
}

.innerCarousel {
    display: flex;
    background-color: yellow;
    height: ;
}

.item {
    padding: 20px;
}

.item img {
    border-radius: .75rem;
    pointer-events: none;
}