.carousel {
    cursor: grab;
    overflow: hidden;
}

.innerCarousel {
    display: flex;
    background-color: red;
}

.item {
    min-height: 10rem;
    min-width: 17rem;
    padding: 20px;
}

.item img {
    border-radius: 0.5rem;
}