@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'RalewayLight';
    src: url('/fonts/Raleway-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  },
  @font-face {
    font-family: 'RalewayRegular';
    src: url('/fonts/Raleway-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  },
  @font-face {
    font-family: 'RalewayMedium';
    src: url('/fonts/Raleway-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  },
  @font-face {
    font-family: 'RalewaySemiBold';
    src: url('/fonts/Raleway-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
    font-style: normal;
  },
  @font-face {
    font-family: 'RalewayBold';
    src: url('/fonts/Raleway-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ---- -- -- ---- --- - -- -- ---- -- -- ---- --- - -- -- ---- -- -- ---- --- - -- -- */

.links {
  width: 400px;
  border-radius: 0 10px 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
}

.links div {
  height: 50px;
  width: 100px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  margin-bottom: 0;

  transition: all 300ms ease;
}

.otherPage {
    padding: 1rem;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 2px transparent;

  transition: all 300ms ease;
}

.otherPage:hover {
  border-bottom: solid 3px black;
} 

.activePage {
  background-color: red;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 3px black;
}


/* ---- -- -- ---- --- - -- -- ---- -- -- ---- --- - -- -- ---- -- -- ---- --- - -- -- */

.background {
  position: absolute;
  top: 0;
  width: 300px;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  display: none;
  visibility: hidden;
  z-index: 10;
}
button {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 28px;
  right: 15px;
  width: 50px;
  height: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  display: none;
  visibility: hidden;
  z-index: 10;
}

.sideul {
  position: relative;
  top: 350px;
  width: 225px;
  height: 350px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  z-index: 10;
}
.hidden {
  display: none;
  visibility: hidden;
}

.icon-placeholder {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}
.text-placeholder {
  width: 175px;
  height: 50px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  display: flex;
  color: white;
}
.sideIcon {
  margin-left: 10px;
  font-size: 28px;
  position: relative;
  top: 0px;
}
.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .background,
  button {
      display: block;
      visibility: visible;
  }

  .activePage,
  .otherPage {
    display: none;
    visibility: hidden;
  }
}
@media (max-width: 400px) {
  .background {
    position: absolute;
    top: -15px;
    width: 300px;
    right: -16px;
    bottom: 0;
    height: 100vh;
  
    z-index: 10;
  }
  
  button {
    top: 25px;
    right: 20px;
    width: 20px;
    height: 20px;
    width: 20px;
    height: 20px;
  }
  .sideul {
    width: 200px;
  }
}