.logo {
    position: absolute;
    top
    width: 4rem;
    height: 4rem;
    font-size: 0.75rem;
    font-weight: bold;
    background-color: #f7df1e;
    margin-left: 1rem;
    align-items: flex-end;

}