.main {
    background-color: pink;
    height: 1000px;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    background-color: rgba(95, 107, 107, 0.479);
    flex-wrap: wrap;
    width: 90%;
    height: 500px;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}