.closeBar {
    padding: 0.5em;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 0;
    top: -3.5rem;
    height: 40px;
    width: 200px;
    cursor: default;
}

.closeBtn {
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 150ms ease;
  position: relative;
}

.closeBtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    width: 0%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: 700;
  
    transition: all 150ms ease;
    z-index: -1;
  }
  .closeBtn:hover {
    color: white;
  }
  .closeBtn:hover::after {
    width: 100%;
  }

  /* -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --  */


.snapModal {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    width: 800px;
    height: 400px;
    background: url('/snap-hero.PNG');
    background-size: cover;
    box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.503);

    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: 100%;
    padding: 2rem;
    text-align: left;
}
.snapModal h1 {
    font-family: Arial, Helvetica, sans-serif;
    width: fit-content;
    font-size: 4rem;
    font-weight: 600;
    position: relative;
    margin-bottom: 1rem;
  }
  .snapModal h1 svg {
    position: absolute;
    top: 2.25rem;
    right: -2.25rem;
    width: 26px;
    height: 26px;
    fill: black;
    stroke: black;

  }
  .snapModal h1 svg .rectBehind {
    fill: none;
  }
  .snapModal h1 svg circle {
    stroke: white;
  }
.snapModal p {
    font-size: 1.3rem;
    font-weight: 500;
}

  /* -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --  */

.apparellModal {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  width: 800px;
  height: 400px;
  background: url('/apparel-hero.PNG');
  background-size: cover;
  box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.503);

  display: grid;
  grid-template-columns: 45%;
  grid-template-rows: 100%;
  padding: 2rem;
  text-align: left;
}
.apparellModal h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}
.apparellModal p {
  font-size: 1.3rem;
  font-weight: 500;
}

  /* -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --  */

  .blogModal {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  
    width: 800px;
    height: 400px;
    background: url('/blogmobile-hero.PNG');
    background-size: cover;
    box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.503);
  
    display: grid;
    grid-template-columns: 45%;
    grid-template-rows: 100%;
    padding: 2rem;
    text-align: left;
  }