.htmlModal {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

    width: 800px;
    height: 400px;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(10px);
    box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.503);

    padding: 2rem;
    display: grid;
    grid-template-columns: 65% 25%;
}
.htmlModal h1 {
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.htmlModal p {
    font-size: 1.75rem;
    margin-bottom: 2rem;
}