
.tannerModalCont {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
  
    width: 800px;
    height: 900px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .tannerModalCont .closeBar {
    top: -2rem;
  }
  .blogModal {
    width: 800px;
    height: 400px;
    background: url('/blog-hero.PNG');
    background-size: cover;
    box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.503);
  
    display: grid;
    grid-template-columns: 45%;
    grid-template-rows: 100%;
    padding: 2rem;
    text-align: left;
  }
  .blogModalTwo {
    width: 800px;
    height: 400px;
    background: url('/blog-mobile-hero.PNG');
    background-size: cover;
    box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.503);
  
    display: grid;
    grid-template-columns: 45%;
    grid-template-rows: 100%;
    padding: 2rem;
    text-align: left;
  }
  .blogModalTwo h1 {
    display: flex;
    gap: .5rem;
    margin-bottom: 2.5rem;
  }
  .bfBlogLogo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    background: black;
    color: white;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 0.25rem;
  
  }
  .bfBlogLogo2 {
    font-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
  
    transition: all 500ms ease;
  }
  
  .bfBlog:hover .bfBlogLogo{
    background: black;
    color: white;
  }
  
  .bfBlog:hover .bfBlogLogo2{
    color: black;
  }
  .blogModalTwo p {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
  
  /* -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --   -- -- --  */
  