@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 40rem;
  align-items: center;
}

.myStory {
  background: red;
  max-width: 1400px;
  height: 1100px;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 50% 50%;
  column-gap: 6rem;
  row-gap: 2rem;
  padding: 1rem;
  justify-content: center;
  
  position: relative;
}

/* .grid::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 500px;
  height: 900px;
  background: rgb(255, 255, 255);
  border: solid 2px black;
  border-radius: 0.5rem;
  z-index: -1;
} */

.myStory .helloCard {
  background: white;
  box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.267);

  display: flex;
  flex-direction: column;
  text-align: left;

  padding: 2rem;
  cursor: default;
  
}

.myStory .helloCard h1 {
  font-weight: 500;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.myStory .helloCard p {
  font-size: 1.75rem;
  margin-bottom: 2rem;
  line-height: 1.75;
  text-align: justify;
  font-weight: 500;
}

.myStory .helloCard span {
  display: inline-block;
  padding: 0 1rem;
  border-radius: 0.25rem;
  background: #7ec8e3;
  box-shadow: -1px 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.5rem;
  transition: all 150ms ease;
}

.myStory .helloCard span:hover {
  transform: translateY(-7px);
}

.myStory .helloCard span:hover .freeLink {
  color: black;
}

.myStory .helloCard a {
  font-size: 1.65rem;
  text-transform: uppercase;
}

.myStory .modalCard {
  background: white;
  box-shadow: .5px .5px 4px rgba(0, 0, 0, 0.267);
  cursor: grab;
  overflow: hidden;
  width: 100%;

  height: 55%;
  position: relative;
}
.myStory .modalCard::after {
  content: 'hold and drag to scroll \261d';
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  height: 3px;
}
