.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: 3.5rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

