.main {
    max-width: 1152px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    padding: 4rem 0;
}

@media (max-width: 1279px) {
    hei
}